.mm-promo-form {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
}
.mm-promo-field {
  max-width: 500px;
}
.mm-promo-message {
  padding: 1em 0;
}
.mm-promo-submit {
  display: flex !important;
  align-items: center;
  gap: 1rem;
}
.mm-promo-info  {
  display: flex;
  gap: 0.5em;
}
.mm-promo-info a {
  border-bottom: 1px solid;
}
