.mm-promo-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
  width: 100%;
}
.mm-promo-label {
  flex: 1;
}
.mm-promo-field {
  max-width: 500px;
  width: 100%;
}
.mm-promo-message {
  padding: 1em 0;
}
.mm-promo-submit {
  display: flex !important;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
}
.mm-promo-info  {
  display: flex;
  gap: 0.5em;
}
.mm-promo-info a {
  border-bottom: 1px solid;
}
